@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Adminlte.cshtml";
}
<style>
</style>
<section class="content-header">
    <h1>
        @T("Branch")
        <sup class="text-green">@T("Creation")</sup>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> @T("Home")</a></li>
        <li class="active">@T("Branch")</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Company Modal -->
    <div class="modal" id="branchCreationModel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <header><h4 class="text-primary">@T("Branch") @T("Creation")</h4></header>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" data-bind="with:Branch">
                        <div class="form-group col-lg-6">
                            <label class="col-lg-4 control-label" for="Number">@T("Company")</label>
                            <div class="col-lg-7">
                                <select class="form-control" data-bind="options:$root.Companies,optionsText:'Name',optionsValue:'Id',value:CompanyId"></select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="required">
                                <label class="col-lg-4 control-label" for="Number">@T("Code")</label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" required data-bind="value:Code" id="form-group-input" maxlength="10">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="required">
                                <label class="col-lg-4 control-label" for="Number">@T("BranchName")</label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" required data-bind="value:Name" id="form-group-input" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-lg-4 control-label" for="Number">@T("BranchNameNp")</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" required data-bind="PreetiToUnicode:NameNp" id="form-group-input" maxlength="200">
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="required">
                                <label class="col-lg-4 control-label" for="Number">@T("Address")</label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" required data-bind="value:Address" id="form-group-input" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-lg-4 control-label" for="Number">@T("AddressNp")</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" required data-bind="PreetiToUnicode:AddressNp" id="form-group-input" maxlength="200">
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="required">
                                <label class="col-lg-4 control-label" for="Number">@T("ContactNo")</label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" required data-bind="value:ContactNo" id="form-group-input" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-lg-4 control-label" for="Number">@T("Email")</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" required data-bind="value:Email" id="form-group-input" maxlength="250">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="col-lg-5"></div>
                            <div class="col-lg-7">
                                <input type="submit" data-bind="click:$root.CreateUpdate,createUpdateText:$root.ModeOfButton" name="Save" class="btn btn-success" value=@T("Create") />
                                <input type="button" data-bind="click:$root.Reset" name="Reset" value=@T("Reset") class="btn btn-default" />
                                <input type="button" id="close" data-bind="click:$root.CloseModal" value=@T("Back") class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Info boxes -->
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    &nbsp;
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool text-red" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default action" data-bind="click:ShowModal,actionVisibility:'1016'" style="display: inline-block;"><i class="fa fa-plus-square text-green">&nbsp;@T("Create")</i></button>
                        <button type="button" class="btn btn-default action" data-bind="click:Select,actionVisibility:'1017'" style="display: inline-block;"><i class="fa fa-pencil text-blue">&nbsp;@T("Edit")</i></button>
                        <button type="button" class="btn btn-default action" data-bind="click:Delete,actionVisibility:'1018'" style="display: inline-block;"><i class="fa fa-trash text-red">&nbsp;@T("Delete")</i></button>
                  
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12" data-bind="kendoGrid:KendoGridOptions">
                            <div id="branchKendoGrid">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
            <div class="col-lg-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        &nbsp;
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool dropdown-toggle text-green action" data-toggle="dropdown" data-bind="click:ShowModal,actionVisibility:'1016'" style="">
                                <i class="fa fa-plus-square"></i> @T("Create")
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <div class="btn-group">

                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">@T("AddNewBranch")</a></li>
                                    <li><a href="#">@T("SomethingElseHere")</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">@T("SeparatedLink")</a></li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-box-tool text-red" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body table-responsive ">
                        <table class="table table-condensed table-bordered table-striped no-padding table-hover">
                            <thead class="primary bg-green">
                                <tr>

                                    <th class="col-lg-2">@T("Company")</th>

                                    <th class="col-lg-1">@T("Code")</th>

                                    <th class="col-lg-2">@T("BranchName") </th>

                                    <th class="col-lg-2" data-bind="visible:config.CurrentLanguage=='en'" style="display:none;">@T("BranchName")</th>
                                    <th class="col-lg-2" data-bind="visible:config.CurrentLanguage=='ne'" style="display:none;">@T("BranchName")</th>

                                    <th class="col-lg-2">@T("Address")</th>

                                    <th class="col-lg-2"> @T("ContactNo")</th>

                                    <th class="col-lg-1"> @T("Email")</th>

                                    <th class="col-lg-1">@T("Action")</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:Branches">
                                <tr>
                                    <td data-bind="text:CompanyName"></td>
                                    <td data-bind="text:Code"></td>
                                    <td data-bind="text:Name,visible:config.CurrentLanguage=='en'" style="display:none;"></td>
                                    <td data-bind="text:NameNp()==''?Name():NameNp,visible:config.CurrentLanguage=='ne'" style="display:none;"></td>
                                    <td data-bind="text:Address,visible:config.CurrentLanguage=='en'" style="display:none;"></td>
                                    <td data-bind="text:AddressNp()==''?Address():AddressNp,visible:config.CurrentLanguage=='ne'" style="display:none;"></td>
                                    <td data-bind="text:SuitableNumber(ContactNo)"></td>
                                    <td data-bind="text:Email"></td>
                                    <td>
                                        <button type="button" data-bind="click:$root.Select,actionVisibility:'1017'" class="btn btn-xs btn-default action" title=@T("Edit")><span class="glyphicon glyphicon-pencil text-green "></span> </button>
                                        <button type="button" data-bind="click:$root.Delete,actionVisibility:'1018'" class="btn btn-xs btn-default action" title=@T("Remove")><span class="glyphicon glyphicon-trash text-danger"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot data-bind="with:Branch">
                                <tr>

                                        <td>
                                            <select class="form-control" data-bind="options:$root.Companies,optionsText:'Name',optionsValue:'Id',value:CompanyId"></select>
                                        </td>
                                        <td>
                                            <div class="">
                                                <input type="text" class="form-control " id="form-group-input" data-bind="value:Code" placeholder=@T("Code")>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="">
                                                <input type="text" class="form-control " id="form-group-input" data-bind="value:Name" placeholder=@T("Name")>
                                                <input type="text" class="form-control " id="form-group-input" data-bind="value:NameNp" placeholder=@T("NameNp")>

                                            </div>
                                        </td>

                                        <td>
                                            <div class="">
                                                <input type="text" class="form-control " id="form-group-input" data-bind="value:Address" placeholder=@T("Address")>
                                                <input type="text" class="form-control " id="form-group-input" data-bind="value:AddressNp" placeholder=@T("AddressNp")>

                                            </div>
                                        </td>

                                        <td>
                                            <div class="">
                                                <input type="text" class="form-control " id="form-group-input" data-bind="value:ContactNo" placeholder=@T("ContactNo")>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="">
                                                <input type="text" class="form-control " id="form-group-input" data-bind="value:Email" placeholder=@T("Email")>
                                            </div>
                                        </td>

                                        <td>
                                            <button type="button" data-bind="click:$root.CreateUpdate" class="btn btn-success" title=@T("Create")><span class="glyphicon glyphicon-plus"></span></button>
                                            <button type="button" data-bind="click:$root.Reset" class="btn btn-default" title=@T("Reset")><span class="glyphicon glyphicon-refresh"></span></button>
                                        </td>
                                    </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>*@
    <script type="text/html" id="mode-button-template">
        <span class="glyphicon glyphicon-plus" data-bind="text:$root.ModeOfButton"></span>
    </script>
    <!-- /.row -->
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row -->
</section>

@if (Request.IsAjaxRequest())
{
    @*<script src="~/Areas/Scripts/Riddha.Script.Branch.Model.js"></script>
        <script src="~/Areas/Scripts/Riddha.Script.Branch.Controller.js"></script>*@
    <script type="text/javascript">
        Riddha.global.permission.action('1004').done(function (data) {
            Riddha.global.permission.actions = data.Data;
            ko.cleanNode(document.getElementById("partial-render"));
            var obj = new branchController();

            ko.applyBindings(obj, document.getElementById("partial-render"));
        });
    </script>
}
else
{
    @section scripts
    {
        @*<script src="~/Areas/Scripts/Riddha.Script.Branch.Model.js"></script>
            <script src="~/Areas/Scripts/Riddha.Script.Branch.Controller.js"></script>*@
        <script type="text/javascript">
            Riddha.global.permission.action('1004').done(function (data) {
                Riddha.global.permission.actions = data.Data;
                ko.cleanNode(document.getElementById("partial-render"));
                var obj = new branchController();

                ko.applyBindings(obj, document.getElementById("partial-render"));
            });
        </script>
    }
}
