@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Adminlte.cshtml";
}
<style>
    .panel-body {
        padding: 7.5px;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 4px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

        .list-group-item:first-child {
            margin-top: 0;
            border-top: 0px;
            border-bottom-right-radius: 4px;
            /* border-bottom-left-radius: 4px; */
        }

    .appbtn {
        border-radius: 3px;
        position: relative;
        padding: 15px 5px;
        margin: 0 0 10px 10px;
        min-width: 80px;
        height: 60px;
        text-align: center;
        color: #666;
        border: 1px solid #ddd;
        background-color: #f4f4f4;
        font-size: 12px;
    }
</style>
<section class="content-header">
    <h1>
        @T("WeeklyRoster")
        <sup class="text-green">@T("Creation")</sup>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @T("Creation")</a></li>
        <li class="active">@T("WeeklyRoster")</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    &nbsp;
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        @*<a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#partial-render"  href="/Home/Index">Go</a>*@
                        @*<button onclick="window.location='/'" type="button" class="btn btn-box-tool text-red" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        <button type="button" class="btn btn-box-tool text-red" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="row" data-bind="visible:Riddha.DataVisibilityLevel=='4'">
                    <br>
                    <div class="col-lg-12">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label class="col-lg-1 control-label" for="Number">@T("Branch")</label>
                                    <div class="col-lg-3">
                                        <select class="form-control " required data-bind="options:Branches,optionsText:'Name',optionsValue:'Id',value:$root.BranchId,event:{change:$root.Search}"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="col-lg-6">
                                <div class="panel panel-success col">
                                    <div class="box-header bg-green ">@T("Department") <input class="pull-right" type="checkbox" data-bind="checked:CheckAllDepartments" /></div>
                                    <div class="panel-body" style="height:250px; overflow-y:auto">
                                        <ul data-bind="foreach:Departments" class="list-group list list-group-unbordered">
                                            <li class="list-group-item">
                                                <span data-bind="text:Name"></span>   <a class="pull-right"><input type="checkbox" data-bind="checked:Checked,event:{change:$root.GetSections}" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="panel panel-success">
                                    <div class="box-header bg-green ">@T("Unit") <input class="pull-right" type="checkbox" data-bind="checked:CheckAllSections" /></div>
                                    <div class="panel-body" style="height:250px; overflow-y:auto">
                                        <ul data-bind="foreach:Sections" class="list-group list list-group-unbordered">
                                            <li class="list-group-item">
                                                <span data-bind="text:Name"></span>   <a class="pull-right"><input type="checkbox" data-bind="checked:Checked" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-3" data-bind="">
                            <div class="col-lg-12">
                                @*<button type="button" class="btn btn-lg bg-green" value="Refresh" data-bind="click:$root.RefreshRoster,actionVisibility:'2019'"><span class="glyphicon glyphicon-refresh text-bold">@T("RefreshRoster") &nbsp;</span></button>*@
                                <a data-toggle="tooltip" title="" class="btn btn-app appbtn " data-bind="click:$root.RefreshRoster,actionVisibility:'2038'"><i class="fa fa-refresh text-info"></i><b>@T("RefreshRoster")</b></a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <div id="rosterWindow">
        <div class="no-padding">
            <div class="col-lg-2 no-padding" data-bind="with:RosterViewModel">
                <table style="font-size:12px;" class="table table-bordered table-hover table-condensed table-responsive table-striped no-padding">
                    <thead class="success">
                        <tr>
                            <th>@T("Employee")</th>
                        </tr>
                        <tr>
                            <th>@T("DayName") -></th>
                        </tr>
                        <tr><th id="applyShiftColumnHeader">@T("ApplyShiftColumnHeader")</th></tr>
                    </thead>
                    <tbody data-bind="foreach:RosterRows">
                        <tr>
                            <td>
                                <select style="width:100%;" disabled>
                                    <option data-bind="text:EmployeeName"></option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot data-bind="foreach:$root.Shifts">
                        <tr>
                            <td data-bind="text:ShiftCode() + ':'+ ShiftName()"></td>

                        </tr>
                    </tfoot>
                </table>
            </div>
            <div style="overflow-x:scroll" class="col-lg-10 no-padding" data-bind="with:RosterViewModel">

                <table style="font-size:12px;border:1px;" class="table table-bordered table-hover table-condensed table-responsive table-striped no-padding">
                    <thead class="success">
                        <tr>
                            <!-- ko foreach: Headers-->
                            <th data-bind="text:Day"></th>
                            <!-- /ko -->
                        </tr>
                        <tr>
                            @*<th>Employee</th>*@
                            <!-- ko foreach: Headers-->
                            <th data-bind="text:DayName.substr(0,3)"></th>
                            <!-- /ko -->
                        </tr>
                        <tr data-bind="foreach:$root.HeaderShifts">
                            <th> <select class="" data-bind="options:$root.Shifts,optionsValue:'Id',optionsText:'ShiftCode',optionsCaption:'Shift',value:ShiftId,attr:{'data-day':Day },event:{change:$root.ChangeHeadSelection}"></select></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:RosterRows">
                        <tr>
                            @*<td data-bind="text:EmployeeName"></td>*@
                            <!-- ko foreach: Columns-->
                            <td data-bind="">
                                <select class="" data-bind="options:$root.Shifts,optionsValue:'Id',optionsText:'ShiftCode',value:ShiftId,optionsCaption:'Shift',attr:{'data-day':Day() },event:{change:$root.CalculateTotal}"></select>
                            </td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                    <tfoot data-bind="foreach:$root.Shifts">
                        <tr data-bind="attr:{'data-shift' :Id}">
                            @*<td data-bind="text:ShiftCode() + ':'+ ShiftName()"></td>*@
                            <!-- ko foreach: $root.RosterViewModel.Headers-->
                            <td data-bind="attr:{'data-day':Day}"></td>
                            <!-- /ko -->
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-success" title=@T("Save") data-bind="click:$root.CreateUpdate"><span class="glyphicon glyphicon-save"></span> @T("Save") </button>
            @*<button type="button" class="btn btn-default "><span class="glyphicon glyphicon-remove-sign"></span>@T("Exit")  </button>*@
        </div>
    </div>
    <script type="text/html" id="mode-button-template">
        <span class="glyphicon glyphicon-plus" data-bind="text:$root.ModeOfButton"></span>
    </script>
    <!-- /.row -->
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row -->
</section>

@if (Request.IsAjaxRequest())
{

    <script type="text/javascript">
        var weeklyRosterObj = new weeklyRosterController();
        Riddha.global.permission.action('2003').done(function (data) {
            Riddha.global.permission.actions = data.Data;
            ko.cleanNode(document.getElementById("partial-render"));
            ko.applyBindings(weeklyRosterObj, document.getElementById("partial-render"));
            weeklyRosterObj.Search();
        });
    </script>
}
else
{
    @section scripts
    {

        <script type="text/javascript">
            var weeklyRosterObj = new weeklyRosterController();
            Riddha.global.permission.action('2003').done(function (data) {
                Riddha.global.permission.actions = data.Data;
                ko.cleanNode(document.getElementById("partial-render"));
                ko.applyBindings(weeklyRosterObj, document.getElementById("partial-render"));
                weeklyRosterObj.Search();
            });
        </script>
    }
}
