@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Adminlte.cshtml";
}

<style>
    #custom {
        padding: 2px 12px;
    }
</style>

<section class="content-header">
    <h1>
        @T("Leave")
        <sup class="text-green">@T("Approval")</sup>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @T("Employee")</a></li>
        <li class="active">@T("Leave") @T("Approval")</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="modal" id="leaveinfoModal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click:$root.CloseModal">&times;</button>
                    <header class="text-center"><h4 class="text-success">@T("Leave") @T("Approval")</h4></header>
                </div>
                <div class="modal-body">
                    <div class="row col-lg-12">
                        <div class="box-body box-profile" data-bind="with:LeaveApproval">
                            <div class="text-center">
                                <img class=" text-center  profile-user-img img-responsive img-thumbnail" data-bind="attr: {src: Photo() || '/Images/men3.png'}" alt="User profile picture">
                            </div>
                            <h3 class="profile-username text-center" data-bind="text:EmpName"></h3>
                            <p class="text-muted text-center" data-bind="text:Designation"></p>
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Department</b> <a class="pull-right" data-bind="text:Department"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>From</b> <a class="pull-right" data-bind="text:SuitableDate(From())"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>To</b> <a class="pull-right" data-bind="text:SuitableDate(To())"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>Leave</b> <a class="pull-right" data-bind="text:Leave"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>LeaveDay</b> <a class="pull-right" data-bind="text:LeaveDay"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>LeaveCount</b> <a class="pull-right" data-bind="text:LeaveCount"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>RemLeave</b> <a class="pull-right" data-bind="text:RemLeave"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>Description</b> <a class="pull-right" data-bind="text:Description"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>Approved By</b> <a class="pull-right" data-bind="text:ApprovedByUser"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>Admin Remark</b> <textarea class="form-control" data-bind="value:AdminRemark"></textarea>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group col-lg-8" data-bind="visible:LeaveApproval().LeaveStatus()!=3">
                            <input type="button" name="Approve" value=@T("Approve") class="btn btn-success action" data-bind="click:$root.Approve,actionVisibility:'3013'" />
                            <input type="button" name="Reject" value=@T("Reject") class="btn btn-danger action" data-bind="click:$root.Reject,actionVisibility:'3014'" />
                            <input type="button" name="Revert" value=@T("Revert") class="btn btn-warning " data-bind="click:$root.Revert" />
                            <input type="button" name="Revert" value=@T("close") class="btn btn-default " data-bind="click:$root.CloseModal" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    &nbsp;
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool text-red" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                    <div class="btn-group">
                        @*<button type="button" class="btn btn-default " data-bind="click:$root.ViewDetails" style="display: inline-block;"><i class="fa fa-eye text-green">&nbsp;@T("View")</i></button>*@
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12" data-bind="kendoGrid:KendoGridOptions">
                            <div id="leaveApprovalKendoGrid">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="mode-button-template">
        <span class="glyphicon glyphicon-plus" data-bind="text:$root.ModeOfButton"></span>
    </script>
</section>
@if (Request.IsAjaxRequest())
{
    @*<script src="~/Scripts/App/Globals/Riddha.Globals.ko.js"></script>
        <script src="~/Areas/Employee/Scripts/Riddha.Script.Employee.Model.js"></script>
        <script src="~/Areas/Scripts/Riddha.Script.Company.Model.js"></script>
        <script src="~/Areas/Employee/Scripts/Riddha.Script.Employee.Controller.js"></script>*@
    <script type="text/javascript">
        var obj = {};
        Riddha.global.permission.action('3003').done(function (data) {
            Riddha.global.permission.actions = data.Data;
            ko.cleanNode(document.getElementById("partial-render"));
            obj = new leaveApprovalController();

            ko.applyBindings(obj, document.getElementById("partial-render"));
        });
    </script>
}
else
{
    @section scripts
    {

        <script src="~/Areas/Scripts/Riddha.Script.Company.Model.js"></script>

        <script type="text/javascript">
            var obj = {};
            Riddha.global.permission.action('3003').done(function (data) {
                Riddha.global.permission.actions = data.Data;
                ko.cleanNode(document.getElementById("partial-render"));
                obj = new leaveApprovalController();

                ko.applyBindings(obj, document.getElementById("partial-render"));
            });
        </script>
    }
}




