@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Adminlte.cshtml";
}
<style>
    .panel-body {
        padding: 7.5px;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 4px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

        .list-group-item:first-child {
            margin-top: 0;
            border-top: 0px;
            border-bottom-right-radius: 4px;
            /* border-bottom-left-radius: 4px; */
        }
</style>
<section class="content-header">
    <h1>
        @T("Event")
        <sup class="text-green">@T("Creation")</sup>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @T("Home")</a></li>
        <li class="text-green">@T("Event")</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <script type="text/html" id="mode-button-template">
        <span class="glyphicon glyphicon-plus" data-bind="text:ModeOfButton"></span>
    </script>
    <!-- Notice Modal -->
    <div class="modal" id="eventViewModel" style="">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <header><h4 class="text-success">@T("Event") @T("Creation")</h4></header>
                </div>
                <div class="modal-body">
                    <div class="" data-bind="with:Event">
                        <div class="form-group col-lg-4">
                            <div class="required">
                                <label class="col-lg-4 control-label" for="Number">@T("From")</label>
                                <div class="col-lg-7">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-nepdate="#nepaliFrom" data-bind="mask:'date',value:From,visible:DateVisibility('en'),event:{change:$root.GetNoOfDays}">
                                        <input class="form-control nepDate" data-format="yyyy/MM/dd" name="date" type="text" id="nepaliFrom" data-bind="dateNp:{engDate:From},visible:DateVisibility('ne')">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <div class="required">
                                <label class="col-lg-4 control-label" for="Number">@T("To")</label>
                                <div class="col-lg-7">
                                    <div class="input-group">
                                        <input type="text" class="form-control" data-nepdate="#nepaliTo" data-bind="mask:'date',value:To,visible:DateVisibility('en')">
                                        <input class="form-control nepDate" data-format="yyyy/MM/dd" name="date" type="text" id="nepaliTo" data-bind="dateNp:{engDate:To},visible:DateVisibility('ne')">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group col-lg-4">
                                <label class="col-lg-4 control-label" for="Number">@T("Days")</label>
                                <div class="col-lg-4">
                                    <input type="text" class="form-control" readonly data-bind="text:$root.NoOfDays" />
                                </div>
                            </div>*@
                        <div class="form-group col-lg-4">
                            <label class="col-lg-4 control-label" for="Number">@T("EventLevel")</label>
                            <div class="col-lg-8">
                                <select class="form-control" required data-bind="options:$root.EventLevels,
                                                                                                optionsText:'Name',optionsValue:'Id',value:EventLevel,optionCaption:Riddha.UI.getOptionCaption(),event:{change:$root.GetTargets}"></select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12" data-bind=" visible:EventLevel()!=0">
                            <label class="col-lg-2 control-label" for="Number" data-bind="text:EventLevel()==1?'@T("Branch")':EventLevel()==2?'@T("Department")':'@T("Section")'"></label>
                            <div class="col-lg-10">
                                <div class="panel panel-success col">
                                    <div class="box-header bg-green" data-bind="text:EventLevel()==1?'@T("Branch")':EventLevel()==2?'@T("Department")':'@T("Section")'"></div>
                                    <div class="panel-body">
                                        <ul data-bind="foreach:$root.Targets" class="list-group list list-group-unbordered">
                                            <li class="list-group-item">
                                                <span data-bind="text:Name"></span> <a class="pull-right"><input type="checkbox" data-bind="checked:$root.SelectedTargets, value:Id" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" data-bind="with:Event">
                            <div class="box box-success">
                                <div class="box-header with-border">

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="form-group">
                                        <input class="form-control" placeholder=@T("Title") data-bind="value:Title">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" data-bind="value:Description" style="height: 300px" placeholder=@T("Description")></textarea>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <div class="pull-right">
                                        <input type="button" data-bind="click:$root.Reset,enable:$root.EnableButtons()" name="Reset" value=@T("Reset") class="btn btn-warning" />
                                        <input type="button" id="close" data-bind="click:$root.CloseModal" value=@T("Back") class="btn btn-default" />
                                    </div>
                                    <input type="submit" data-bind="click:$root.CreateUpdate,createUpdateText:$root.ModeOfButton" name="Save" class="btn btn-success" value=@T("Create") />
                                </div>
                                <!-- /.box-footer -->
                            </div>
                            <!-- /. box -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Info boxes -->
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <p id="message"></p>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool dropdown-toggle text-green action" data-toggle="dropdown" data-bind="click:ShowModal,actionVisibility:'2030'" style="">
                            <i class="fa fa-plus-square"></i> @T("Create")
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">

                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-box-tool text-red" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-condensed table-bordered table-striped no-padding table-hover">
                        <thead class="success bg-green">
                            <tr>
                                <th class="col-lg-1">@T("SerialNo")</th>
                                <th class="col-lg-3"> @T("Title")</th>
                                <th class="col-lg-2">@T("From")</th>
                                <th class="col-lg-2 ">@T("To")</th>
                                <th class="col-lg-2">@T("EventLevel")</th>
                                <th class="col-lg-2">@T("Action")</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:Events">
                            <tr>
                                <td data-bind="serialNo:$index()+1"></td>
                                <td data-bind="text:Title"></td>
                                <td data-bind="text:SuitableDate(From())"></td>
                                <td data-bind="text:SuitableDate(To())"></td>
                                <td data-bind="text:EventLevel"></td>
                                <td>
                                    <button type="button" data-bind="click:$root.Select,actionVisibility:'2031'" class="btn btn-xs btn-default btn-default action" title=@T("Edit")><span class="glyphicon glyphicon-pencil text-green"></span></button>
                                    <button type="button" data-bind="click:$root.Delete,actionVisibility:'2032'" class="btn btn-xs btn-default action" title=@T("Remove")><span class="glyphicon glyphicon-remove text-red"></span></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@if (Request.IsAjaxRequest())
{
    
    <script type="text/javascript">
        Riddha.global.permission.action('2007').done(function (data) {
            Riddha.global.permission.actions = data.Data;
            ko.cleanNode(document.getElementById("partial-render"));
            var obj = new eventController();
            ko.applyBindings(obj, document.getElementById("partial-render"));
        });

        function padLeft(value) {
            return Riddha.util.padLeft(value, 5);
        }
    </script>
}
else
{
    @section scripts
    {
        
        <script type="text/javascript">
            Riddha.global.permission.action('2007').done(function (data) {
                Riddha.global.permission.actions = data.Data;
                ko.cleanNode(document.getElementById("partial-render"));
                var obj = new eventController();
                ko.applyBindings(obj, document.getElementById("partial-render"));
            });

            function padLeft(value) {
                return Riddha.util.padLeft(value, 5);
            }
        </script>
    }
}







