
@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Adminlte.cshtml";
}
<style>
    /*.SalarySheet {
        background-color: #1697bb !important;
        color: azure;
    }*/

    #salarySheetTable {
        overflow-y: auto;
        overflow-x: auto;
        width: 100%;
    }



    .panel-body {
        padding: 7.5px;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 4px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
    }

        .list-group-item:first-child {
            margin-top: 0;
            border-top: 0px;
            border-bottom-right-radius: 4px;
            /* border-bottom-left-radius: 4px; */
        }

    .appbtn {
        border-radius: 3px;
        position: relative;
        padding: 15px 5px;
        margin: 0 0 10px 10px;
        min-width: 80px;
        height: 60px;
        text-align: center;
        color: #666;
        border: 1px solid #ddd;
        background-color: #f4f4f4;
        font-size: 12px;
    }

    #paymentAdvicegrid td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    #paymentAdvicegrid tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


<section class="content-header">
    <h1>
        @T("Salary Payment")
        <sup class="text-green">@T("Creation")</sup>

    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> @T("Home")</a></li>
        <li class="active">@T("Salary Payment")</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="modal" id="SSFViewModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <header><h4 class="text-blue">@T("SSF Information")</h4></header>
                </div>
                <div class="modal-body">

                    <div class="col-lg-12">
                        <table class="table table-condensed table-bordered table-striped no-padding table-hover">
                            <thead class="success bg-success">
                                <tr>
                                    <th>@T("PF Employer")</th>
                                    <th>@T("PF Employee")</th>
                                    <th>@T("Gratituity Employer")</th>
                                    <th>@T("SS Employer")</th>
                                    <th>@T("SS Employee")</th>
                                    <th>@T("PensionFund Employer")</th>
                                    <th>@T("PensionFund Employee")</th>
                                </tr>
                            </thead>
                            <tbody data-bind="with:SSFInfo">
                                <tr>
                                    <td data-bind="text:PFER()"></td>
                                    <td data-bind="text:PFEE()"></td>
                                    <td data-bind="text:Gratituity()"></td>
                                    <td data-bind="text:SSER()"></td>
                                    <td data-bind="text:SSEE()"></td>
                                    <td data-bind="text:PensionFundER()"></td>
                                    <td data-bind="text:PensionFundEE()"></td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group col-lg-12 text-center">
                            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                            <input type="button" id="close" data-dismiss="modal" aria-hidden="true" value=@T("Back") class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="AllowanceViewModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <header><h4 class="text-blue">@T("Allowances")</h4></header>
                </div>
                <div class="modal-body">

                    <div class="col-lg-12">
                        <table class="table table-condensed table-bordered table-striped no-padding table-hover">
                            <thead class="success bg-success">
                                <tr>
                                    <!-- ko if:AllowanceHeads().length > 0 -->
                                    <th data-bind="attr:{'colspan':AllowanceHeads().length}" class="text-center">@T("Allowances")</th>
                                    <!--/ko-->
                                </tr>
                                <tr>
                                    <!--ko foreach :AllowanceHeads()-->
                                    <th data-bind="text:AllowanceHead"></th>
                                    <!--/ko -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!--ko foreach:Allowances()-->
                                    <td data-bind="text:AllowanceAmount"></td>
                                    <!-- /ko -->

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group col-lg-12 text-center">
                            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                            <input type="button" id="close" data-dismiss="modal" aria-hidden="true" value=@T("Back") class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="TDSInfoViewModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <header><h4 class="text-blue">@T("Tax Information")</h4></header>
                </div>
                <div class="modal-body">

                    <div class="col-lg-12">
                        <table class="table table-condensed table-bordered table-striped no-padding table-hover">
                            <thead class="success bg-success">
                                <tr>
                                    <th>@T("Social Security Tax")</th>
                                    <th>@T("Renumeration Tax")</th>
                                </tr>

                            </thead>
                            <tbody data-bind="with:TDSInfo">
                                <tr>
                                    <td data-bind="text:SocialSecurityTax()"></td>
                                    <td data-bind="text:RenumerationTax()"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group col-lg-12 text-center">
                            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                            <input type="button" id="close" data-dismiss="modal" aria-hidden="true" value=@T("Back") class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="DeductionInfoViewModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <header><h4 class="text-blue">@T("Pay Deduction Info")</h4></header>
                </div>
                <div class="modal-body">

                    <div class="col-lg-12">
                        <table class="table table-condensed table-bordered table-striped no-padding table-hover">
                            <thead class="success bg-success">
                                <tr>
                                    <th colspan="5" class="text-center">@T("Pay Deduction Info")</th>
                                </tr>
                                <tr>
                                    <th>@T("Absent")</th>
                                    <th>@T("Leave")</th>
                                    <th>@T("Late")</th>
                                    <th>@T("EarlyOut")</th>
                                    <th>@T("Deduction Amount")</th>
                                </tr>
                            </thead>
                            <tbody data-bind="with:PayDeductionInfo">
                                <tr>
                                    <td data-bind="text:Absent()"></td>
                                    <td data-bind="text:Leave()"></td>
                                    <td data-bind="text:Late()"></td>
                                    <td data-bind="text:EarlyOut()"></td>
                                    <td data-bind="text:DeductionAmount()"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group col-lg-12 text-center">
                            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                            <input type="button" id="close" data-dismiss="modal" aria-hidden="true" value=@T("Back") class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="box-header with-border">
                        <div class="row">
                            <div class="form-group col-lg-2">
                                <label class="col-lg-6 control-label" for="Number">@T("Fiscal Year")</label>
                                <div class="col-lg-6">
                                    @*<span data-bind="text:$root.FiscalYear"></span>*@
                                    <input type="text" class="form-control" required id="form-group-input" data-bind="value:$root.FiscalYear" readonly />
                                </div>
                            </div>
                            <div class="form-group col-lg-3">
                                <label class="col-lg-4 control-label" for="Number">@T("Month")</label>
                                <div class="col-lg-8">
                                    @*<select class="form-control" data-bind="options:Months,optionsValue:'Id',optionsText:'Name',optionsCaption:Riddha.UI.getOptionCaption(),value:MonthId"></select>*@
                                    <select class="form-control" data-bind="options:Months,optionsText:'Name',optionsValue:'Id',value:MonthId,event:{change:$root.DateDiffrence}"></select>
                                </div>
                            </div>


                            <div class="form-group col-lg-4">
                                <div class="col-lg-12">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default " data-bind="click:$root.Refresh"><i class="fa fa-refresh text-green">&nbsp;@T("Refresh Sheet")</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                <div class="panel panel-success col">
                                    <div class="box-header bg-green ">@T("Department") @*<input class="pull-right" type="checkbox" data-bind="checked:CheckAllDepartments" />*@</div>
                                    <div class="panel-body" style="height:250px; overflow-y:auto">
                                        <ul data-bind="foreach:Departments" class="list-group list list-group-unbordered">
                                            <li class="list-group-item">
                                                <span data-bind="text:Name"></span>   <a class="pull-right"><input type="checkbox" data-bind="checked:Checked,event:{change:$root.GetSections}" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-success">
                                    <div class="box-header bg-green ">@T("Unit") <input class="pull-right" type="checkbox" data-bind="checked:CheckAllSections" /></div>
                                    <div class="panel-body" style="height:250px; overflow-y:auto">
                                        <ul data-bind="foreach:Sections" class="list-group list list-group-unbordered">
                                            <li class="list-group-item">
                                                <span data-bind="text:Name"></span>   <a class="pull-right"><input type="checkbox" data-bind="checked:Checked,event:{change:$root.GetEmployee}" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="panel panel-success">
                                    <div class="box-header bg-green ">
                                        <div class="row">
                                            <div class="col-md-5">
                                                @T("Employee")
                                            </div>
                                            <div class="col-md-7 pull-right">
                                                <input type="text" name="name" data-bind="languageWiseSearchMode:$root.SearchItemText,valueUpdate:'keyup'" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body" data-bind="" style="height:250px; overflow-y:auto">
                                        <ul data-bind="foreach:FilteredEmployees" class="list-group list list-group-unbordered">
                                            <li class="list-group-item">
                                                <span data-bind="text:Name"></span>   <input class="pull-right" type="checkbox" data-bind="value:Id,checked:Checked" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="box-footer">

                    <div id="nonGovernmentPaySheet">
                        <div class="no-padding">
                            <div class="col-lg-3 no-padding">

                                <table style="font-size:12px;border:1px;" class="table table-bordered table-hover table-condensed table-responsive table-striped no-padding roster">
                                    <thead class="bg-green">

                                        <tr>

                                            <th data-bind="attr:{'height': '68px'}">@T("SerialNo")</th>
                                            <th>@T("MonthOfJoin")</th>
                                            <th>@T("EmployeeName")</th>
                                            <th>@T("Department")</th>
                                            @*<th>@T("Month")</th>*@


                                        </tr>

                                    </thead>
                                    <tbody data-bind="foreach:SalaryPayments">
                                        <tr>
                                            <td data-bind="serialNo:$index()+1" height="57px"></td>
                                            <td data-bind="text:JoinedMonth"></td>
                                            <td data-bind="text:EmployeeName() + '(' + EmployeeCode() + ')'"></td>
                                            <td data-bind="text:DepartmentName"></td>
                                            @*<td data-bind="text:$root.GetMonthName(MonthId())"></td>*@
                                        </tr>
                                    </tbody>

                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>

                            </div>
                            <div style="overflow-x:scroll" class="col-lg-9 no-padding">

                                <table style="font-size:12px;border:1px;" class="table table-bordered table-hover table-condensed table-responsive table-striped no-padding roster">
                                    <thead class="bg-green" id="salarySheetTbl">

                                        <tr>

                                            <th data-bind="attr:{'height': '68px'}">@T("GradeTitle")</th>
                                            <th data-bind="attr:{'height': '68px'}">@T("Grade")</th>
                                            <th id="Maxheight">@T("BasicSalary")</th>
                                            @*<th>@T("TotalAllowance")</th>*@
                                            <!--ko foreach :AllowanceHeads()-->
                                            <th data-bind="text:AllowanceHead"></th>
                                            <!--/ko -->

                                            <th>@T("DeductionAmount")</th>
                                            <th>@T("AdditionAmount")</th>
                                            <th>@T("GrossSalary")</th>

                                            <th>@T("InsuranceAmount")</th>
                                            <th>@T("InsuranceAmountEmpyr")</th>
                                            <th>@T("CIT")</th>
                                            <th>@T("PF Employer")</th>
                                            <th>@T("PF Employee")</th>
                                            <th>@T("Gratituity Employer")</th>
                                            <th>@T("SS Employer")</th>
                                            <th>@T("SS Employee")</th>
                                            <th>@T("PensionFund Employer")</th>
                                            <th>@T("PensionFund Employee")</th>

                                            @*<th>@T("TotalEmployeeSSF")</th>
                                <th>@T("TotalEmployerSSF")</th>*@

                                            <th>@T("TaxableAmount")</th>
                                            <th>@T("TotalTDS")</th>
                                            <th>@T("Maritalstatus")</th>
                                            <th>@T("Gender")</th>
                                            <th>@T("RebateAmount")</th>
                                            @*<th >@T("Tax Information")</th>*@
                                            <th>@T("NetPayable")</th>
                                        </tr>
                                        @*<tr>


                                <th>@T("Social Security Tax")</th>
                                <th>@T("Renumeration Tax")</th>
                                <th>@T("Marital status")</th>
                                <th>@T("Gender")</th>
                                <th>@T("Rebate Amount")</th>



                            </tr>*@
                                    </thead>
                                    <tbody data-bind="foreach:SalaryPayments">
                                        <tr>
                                            <td data-bind="text:GradeName" height="57px"></td>
                                            <td data-bind="text:Grade" height="57px"></td>
                                            <td data-bind="text:BasicSalary"></td>
                                            @*<td data-bind="text:TotalAllowancesAmount"></td>*@
                                            @*<td>
            <a data-bind="click:$root.ViewAllowances"><span data-bind="text:TotalAllowancesAmount"></span></a>
        </td>*@
                                            <!--ko foreach:Allowances-->
                                            <td data-bind="text:AllowanceAmount"></td>
                                            <!-- /ko -->
                                            @*<td data-bind="text:DeductionAmount"></td>*@
                                            <td>
                                                <a data-bind="click:$root.ViewDeductionInfo"><span data-bind="text:DeductionAmount"></span></a>
                                            </td>

                                            <td data-bind="text:AdditionAmount"></td>

                                            <td data-bind="text:GrossSalary"></td>
                                            <!-- Insurance -->
                                            <td data-bind="text:InsurancePremiumAmount"></td>
                                            <td data-bind="text:InsurancePaidbyOffice"></td>

                                            <!-- /Insurance -->
                                            <!--CIT-->
                                            <td data-bind="text:CITAmount"></td>
                                            <!--/CIT-->
                                            @*<td data-bind="text:TotalEmployeeSSFAmount"></td>*@
                                            @*<td>
            <a data-bind="click:$root.ViewSSFInfo"><span data-bind="text:TotalEmployeeSSFAmount"></span> </a>
        </td>
        <td data-bind="text:TotalEmployerSSFAmount"></td>*@
                                            <td data-bind="text:PFER"></td>
                                            <td data-bind="text:PFEE"></td>
                                            <td data-bind="text:Gratituity"></td>
                                            <td data-bind="text:SSER"></td>
                                            <td data-bind="text:SSEE"></td>
                                            <td data-bind="text:PensionFundER"></td>
                                            <td data-bind="text:PensionFundEE"></td>
                                            <td data-bind="text:TaxableAmount"></td>

                                            <!-- Tax Information -->
                                            @*<td data-bind="text:TotalTDS"></td>*@
                                            <td>
                                                <a data-bind="click:$root.ViewTDSInfo"><span data-bind="text:TotalTDS"></span></a>
                                            </td>
                                            <td data-bind="text:MaritalStatus"></td>
                                            <td data-bind="text:Gender"></td>
                                            <td data-bind="text:RebateAmount"></td>
                                            <td data-bind="text:NetSalary"></td>
                                            <!-- Tax Information -->

                                        </tr>
                                    </tbody>

                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>

                    </div>

                    <div id="governmentPaysheet">
                        <div class="no-padding">
                            <div class="col-lg-3 no-padding">

                                <table style="font-size:12px;border:1px;" class="table table-bordered table-hover table-condensed table-responsive table-striped no-padding roster">
                                    <thead class="bg-green">

                                        <tr>

                                            <th data-bind="attr:{'height': '68px'}">@T("SerialNo")</th>
                                            <th data-bind="attr:{'height': '68px'}">@T("GradeTitle")</th>
                                            <th>@T("MonthOfJoin")</th>
                                            <th>@T("EmployeeName")</th>
                                            @*<th>@T("Department")</th>*@
                                            @*<th>@T("Month")</th>*@


                                        </tr>

                                    </thead>
                                    <tbody data-bind="foreach:SalaryPayments">
                                        <tr>
                                            <td data-bind="serialNo:$index()+1" height="57px"></td>
                                            <td data-bind="text:GradeName" height="57px"></td>
                                            <td data-bind="text:JoinedMonth"></td>
                                            <td data-bind="text:EmployeeName() + '(' + EmployeeCode() + ')'"></td>
                                            @*<td data-bind="text:DepartmentName"></td>*@
                                            @*<td data-bind="text:$root.GetMonthName(MonthId())"></td>*@
                                        </tr>
                                    </tbody>

                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>

                            </div>
                            <div style="overflow-x:scroll" class="col-lg-9 no-padding">

                                <table style="font-size:12px;border:1px;" class="table table-bordered table-hover table-condensed table-responsive table-striped no-padding roster">
                                    <thead class="bg-green" id="salarySheetTbl">

                                        <tr>

                                            <th id="Maxheight">@T("BasicSalary")</th>
                                            <th data-bind="attr:{'height': '68px'}">@T("Grade")</th>

                                            @*<th>@T("TotalAllowance")</th>*@
                                            <!--ko foreach :AllowanceHeads()-->
                                            <th data-bind="text:AllowanceHead"></th>
                                            <!--/ko -->

                                            <th>@T("DeductionAmount")</th>
                                            <th>@T("AdditionAmount")</th>
                                            <th>@T("GrossSalary")</th>

                                            <th>@T("InsuranceAmount")</th>

                                            <th>@T("PFEmployee")</th>
                                            <th>@T("PensionFundEmployee")</th>

                                            <th>@T("CIT")</th>
                                            <th>@T("InsuranceAmountEmpyr")</th>
                                            <th>@T("PFEmployer")</th>
                                            @*<th>@T("Gratituity Employer")</th>
        <th>@T("SS Employer")</th>
        <th>@T("SS Employee")</th>*@
                                            <th>@T("PensionFundEmployer")</th>

                                            <th>@T("TaxableAmount")</th>
                                            <th>@T("TotalTDS")</th>
                                            @*<th>@T("Maritalstatus")</th>
        <th>@T("Gender")</th>
        <th>@T("RebateAmount")</th>*@
                                            <th>@T("NetPayable")</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:SalaryPayments">
                                        <tr>
                                            <td data-bind="text:BasicSalary"></td>
                                            <td data-bind="text:Grade" height="57px"></td>
                                            <!--ko foreach:Allowances-->
                                            <td data-bind="text:AllowanceAmount"></td>
                                            <!-- /ko -->
                                            <td>
                                                <a data-bind="click:$root.ViewDeductionInfo"><span data-bind="text:DeductionAmount"></span></a>
                                            </td>

                                            <td data-bind="text:AdditionAmount"></td>
                                            <td data-bind="text:GrossSalary"></td>
                                            <!-- Insurance -->
                                            <td data-bind="text:InsurancePremiumAmount"></td>
                                            <td data-bind="text:PFEE"></td>
                                            <td data-bind="text:PensionFundEE"></td>
                                            <!--CIT-->
                                            <td data-bind="text:CITAmount"></td>
                                            <!--/CIT-->
                                            <td data-bind="text:InsurancePaidbyOffice"></td>
                                            <!-- /Insurance -->

                                            <td data-bind="text:PFER"></td>

                                            @*<td data-bind="text:Gratituity"></td>
        <td data-bind="text:SSER"></td>
        <td data-bind="text:SSEE"></td>*@
                                            <td data-bind="text:PensionFundER"></td>

                                            <td data-bind="text:TaxableAmount"></td>

                                            <!-- Tax Information -->
                                            <td>
                                                <a data-bind="click:$root.ViewTDSInfo"><span data-bind="text:TotalTDS"></span></a>
                                            </td>
                                            @*<td data-bind="text:MaritalStatus"></td>
        <td data-bind="text:Gender"></td>
        <td data-bind="text:RebateAmount"></td>*@
                                            <td data-bind="text:NetSalary"></td>
                                            <!-- Tax Information -->

                                        </tr>
                                    </tbody>

                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="box-footer">
                    <div class="col-lg-12 text-center">
                        <button type="submit" data-bind="click:$root.PaySalary,actionVisibility:'7259'" name="Save" class="action btn btn-success">@T("Pay Salary")</button>
                        <button type="submit" data-bind="click:$root.PaymentAdviceDetialShowModal" name="Save" class="btn btn-primary">@T("Payment Advice")</button>
                    </div>
                    <div class="col-lg-12 text-center">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Info boxes -->
    <!-- /.row -->
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row -->

    <div class="modal bd-example-modal-lg" id="GeneratePaymentAdviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <header><h4 class="text-primary">@T("Payment Advice Detials")</h4></header>

                </div>

                <div class="modal-body">
                    <div class="card-body">
                        <div class=" row" data-bind="with:$root.PaymentAdviceMaster">
                            <div class="col-lg-12">
                                <div class="position-relative row form-group">


                                    <label for="Name" class="col-lg-3 col-lg-offset-1 col-form-label-sm">@T("Letter Format")</label>
                                    <div class="col-lg-8">
                                        <select class="form-control" data-bind="options:$root.LetterFormats,optionsText:'Name',optionsValue:'Id',value:LetterFormat"></select>
                                    </div>
                                </div>
                                <div class="position-relative row form-group">


                                    <label for="Name" class="col-lg-3 col-lg-offset-1 col-form-label-sm">@T("Month")</label>
                                    <div class="col-lg-8">
                                        <select class="form-control" data-bind="options:$root.Months,optionsText:'Name',optionsValue:'Id',
                                                value:MonthId,event:{'change': $root.OnMonthChange}"></select>
                                    </div>
                                </div>
                                <div class="position-relative row form-group">

                                    <label for="Name" class="col-lg-3 col-lg-offset-1 col-form-label-sm">@T("Bank")</label>
                                    <div class="col-lg-8">
                                        <select class="form-control" data-bind="options:$root.Banks,optionsText:'Name',optionsValue:'Id'
                                                ,value:BankId,event:{'change': $root.OnBankChange}"></select>
                                    </div>
                                </div>



                                <!--ko if:LetterFormat() == 1-->
                                <div class="position-relative row form-group">


                                    <label for="Name" class="col-lg-3 col-lg-offset-1 col-form-label-sm">@T("Date")</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control form-control-sm" required data-bind="value:Date" placeholder="2076.02.15">
                                    </div>
                                </div>
                                <div class="position-relative row form-group">


                                    <label for="Code" class="col-lg-3 col-lg-offset-1 col-form-label-sm">@T("To")</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control form-control-sm" required data-bind="value:To" placeholder="Manager">
                                    </div>

                                </div>

                                <div class="position-relative row form-group">


                                    <label for="Name" class="col-lg-3 col-lg-offset-1 col-form-label-sm">@T("Bank Name")</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control form-control-sm" required data-bind="value:BankName" placeholder="Bank Name">
                                    </div>
                                </div>


                                <div class="position-relative row form-group">


                                    <label for="Name" class="col-lg-3 col-lg-offset-1 col-form-label-sm">@T("Bank Address")</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control form-control-sm" required data-bind="value:BankAddress" placeholder="Bank Address">
                                    </div>
                                </div>
                                <!--/ko-->
                                <!--ko if:LetterFormat() == 2-->
                                <div class="position-relative row form-group">


                                    <label for="Name" class="col-lg-3 col-lg-offset-1 col-form-label-sm">@T("Date")</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control form-control-sm" required data-bind="PreetiToUnicode:Date" placeholder="2076.02.15">
                                    </div>
                                </div>
                                <div class="position-relative row form-group">


                                    <label for="Code" class="col-lg-3 col-lg-offset-1 col-form-label-sm">@T("To")</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control form-control-sm" required data-bind="PreetiToUnicode:To" placeholder="Manager">
                                    </div>

                                </div>

                                <div class="position-relative row form-group">


                                    <label for="Name" class="col-lg-3 col-lg-offset-1 col-form-label-sm">@T("Bank Name")</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control form-control-sm" required data-bind="PreetiToUnicode:BankName" placeholder="Bank Name">
                                    </div>
                                </div>


                                <div class="position-relative row form-group">


                                    <label for="Name" class="col-lg-3 col-lg-offset-1 col-form-label-sm">@T("Bank Address")</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control form-control-sm" required data-bind="PreetiToUnicode:BankAddress" placeholder="Bank Address">
                                    </div>
                                </div>
                                <!--/ko-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">

                    <button type="button" id="Close" data-bind="click:$root.PaymentAdviceShowModal" value="close" class="btn-shadow btn-wide btn-pill btn btn-outline-success">@T("Generate")</button>
                    <button type="button" id="Close" data-bind="click:$root.PaymentAdviceDetailCloseModal" value="close" class="btn-shadow btn-wide btn-pill btn btn-outline-danger">@T("Close")</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal " id="PaymentAdviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    <div class="card-body">
                        @*<h5 class="card-title">@T("Payment") @T("Advice")</h5>
                            <button type="button" data-bind="click:$root.PaymentAdviceCloseModal" class="close" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>*@
                        <div class="btn-group">
                            <button type="button" class="mb-2 mr-2 btn btn-gradient btn-secondary " data-bind="click:function(){Print('#PaymentAdvice')}"><i class="fa fa-print text-green">&nbsp;@T("Print")</i></button>
                            @*<button id="btnExport" type="button" class="mb-2 mr-2 btn btn-gradient btn-alternate " data-bind="click:function(){ExportExcelAdvice('paymentAdvicegrid')}"><i class="fa fa-print text-blue">&nbsp;@T("Excel")</i></button>*@

                        </div>
                        <hr />

                        <div class="" id="PaymentAdvice">

                            <!--ko if:$root.PaymentAdviceMaster().LetterFormat() == 1-->
                            @RenderPage("~/Areas/PayRoll/Views/SalaryPayment/PaymentAdviceTemplate.cshtml")

                            <!-- /ko-->
                            <!--ko if:$root.PaymentAdviceMaster().LetterFormat() == 2-->
                            @RenderPage("~/Areas/PayRoll/Views/SalaryPayment/PaymentAdviceTemplateNepali.cshtml")
                            <!-- /ko-->

                        </div>
                        <div class="divider"></div>

                    </div>
                </div>
                <div class="modal-footer text-center">

                    <center>

                        <button class="btn-wide  btn-pill btn-hover-shine btn btn-outline-danger" data-bind="click:$root.PaymentAdviceCloseModal">@T("Close")</button>
                    </center>
                </div>
            </div>
        </div>


    </div>

</section>




@if (Request.IsAjaxRequest())
{


    <script src="~/Areas/PayRoll/Scripts/Riddha.Script.SalaryPayment.Model.js"></script>
    <script src="~/Areas/PayRoll/Scripts/Riddha.Script.SalaryPayment.Controller.js"></script>
    <script type="text/javascript">
        var obj = {};
        Riddha.global.permission.action('8027').done(function (data) {
            Riddha.global.permission.actions = data.Data;
            ko.cleanNode(document.getElementById("partial-render"));
            obj = new SalaryPaymentController();

            ko.applyBindings(obj, document.getElementById("partial-render"));
        });
    </script>
}
else
{
    @section scripts
    {


        <script src="~/Areas/PayRoll/Scripts/Riddha.Script.SalaryPayment.Model.js"></script>
        <script src="~/Areas/PayRoll/Scripts/Riddha.Script.SalaryPayment.Controller.js"></script>
        <script type="text/javascript">
            var obj = {};
            Riddha.global.permission.action('8027').done(function (data) {
                Riddha.global.permission.actions = data.Data;
                ko.cleanNode(document.getElementById("partial-render"));
                obj = new SalaryPaymentController();

                ko.applyBindings(obj, document.getElementById("partial-render"));
            });
        </script>
    }
}




