@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout_Adminlte.cshtml";
}
<section class="content-header">
    <h1>
        @T("EmploymentStatus")
        <sup class="text-green">@T("Creation")</sup>

    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> @T("Home")</a></li>
        <li class="active">@T("EmploymentStatus")</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="modal" id="LeaveQuataCreationModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <header><h4 class="text-success" data-bind="text:new Riddha.config().CurrentLanguage=='ne'?LeaveQuataFor()+'@T("LeaveQuata")':'@T("LeaveQuata")'+' '+LeaveQuataFor()"></h4></header>
                </div>
                <div class="modal-body">
                    <div class="box-body table-responsive ">
                        <table class="table table-condensed table-bordered table-striped no-padding table-hover">
                            <thead class="primary bg-green">
                                <tr>
                                    <th> @T("SerialNo")</th>
                                    <th class="col-lg-3">@T("Leave") </th>
                                    <th class="">@T("Balance") </th>
                                    <th class="">@T("LeaveIncreamentPeriod") </th>
                                    <th class="col-lg-2"> @T("ApplicableGender") </th>
                                    <th class="col-lg-2 text-center">@T("IsPaidLeave") </th>
                                    <th class="col-lg-2 text-center"> @T("IsLeaveCarryable")</th>
                                    <th class="col-lg-1 text-center"> @T("Mapped")</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:EmploymentStatusWiseLeaveLst">
                                <tr>
                                    <td data-bind="serialNo:$index()+1"></td>
                                    <td data-bind="text:NameNp()==''?Name():Name()+'('+NameNp()+')'"></td>
                                    <td><input type="number" class="" data-bind="value:Balance,enable:!IsReplacementLeave()"></td>
                                    <td>
                                        <select class="form-control" data-bind="options:$root.LeaveIncreamentPeriods,optionsText:'Name',optionsValue:'Id',value:LeaveIncreamentPeriod,enable:!IsReplacementLeave()"></select>
                                    </td>
                                    <td>
                                        <select class="form-control" data-bind="options:$root.ApplicableGender,enable:!IsReplacementLeave(),
                                optionsValue:'Id',optionsText:'Name',value:ApplicableGender"></select>
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" data-bind="checked:IsPaidLeave,enable:!IsReplacementLeave()">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" data-bind="checked:IsLeaveCarryable,enable:!IsReplacementLeave()">
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" data-bind="checked:IsMapped">
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot data-bind="">
                                <tr></tr>
                            </tfoot>
                        </table>
                        <button type="button" data-bind="click:$root.ApplyLeaveQuota" class="btn btn-success" title=@T("Apply")>@T("Apply")</button>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- EmploymentStatus Modal -->
    <div class="modal" id="employmentStatusCreationModel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <header><h4 class="text-green">@T("EmploymentStatus")   @T("Creation")</h4></header>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" data-bind="with:EmploymentStatus">
                        <div class="form-group col-lg-12">
                            <label class="col-lg-4 control-label" for="Number">@T("Code")</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" required data-bind="value:Code" id="form-group-input " maxlength="20">
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <div class="required">
                                <label class="col-lg-4 control-label" for="Number">@T("Name")</label>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" required data-bind="value:Name" id="form-group-input" maxlength="200">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-lg-4 control-label" for="Number">@T("EmploymentStatus")</label>
                            <div class="col-lg-6">
                                <select class="form-control" required data-bind="options:$root.EmploymentStatusEnum,
                                                                                                optionsText:'Name',optionsValue:'Id',value:EmploymentStatus"></select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-lg-4 control-label" for="Number">@T("Description")</label>
                            <div class="col-lg-6">
                                <textarea class="form-control" maxlength="300" data-bind="value:Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label class="col-lg-4 control-label" for="Number">@T("IsContract")</label>
                            <div class="col-lg-6">
                                <input type="checkbox" data-bind="checked:IsContract" />
                            </div>
                        </div>

                        <div class="form-group col-lg-12 text-center">
                            <input type="submit" data-bind="click:$root.CreateUpdate,createUpdateText:$root.ModeOfButton" name="Save" class="btn btn-success" value=@T("Save") />
                            <input type="button" data-bind="click:$root.Reset" name="Reset" value=@T("Reset") class="btn btn-default" />
                            <input type="button" id="close" data-bind="click:$root.CloseModal" value=@T("Back") class="btn btn-default" />
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Info boxes -->
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    &nbsp;
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool dropdown-toggle text-green action" data-toggle="dropdown" data-bind="click:$root.ShowModal,actionVisibility:'7118'" style="">
                            <i class="fa fa-plus-square"></i> @T("Create")
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu"></ul>
                        </div>
                        <button type="button" class="btn btn-box-tool text-red" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive ">
                    <table class="table table-condensed table-bordered table-striped no-padding table-hover">
                        <thead class="success bg-green">
                            <tr>
                                <th class="col-lg-1"> @T("SerialNo")</th>

                                <th class="col-lg-1">@T("Code")</th>

                                <th class="col-lg-2"> @T("Name") </th>

                                <th class="col-lg-2"> @T("EmploymentStatus")</th>

                                <th class="col-lg-2"> @T("Description")</th>

                                <th class="col-lg-1"> @T("IsContract")</th>

                                <th class="col-lg-2">@T("Action")</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:EmploymentStatuses">
                            <tr>
                                <td class="hidden"><input type="hidden" data-bind="value:Id" /></td>
                                <td data-bind="serialNo:$index()+1"></td>
                                <td data-bind="text:Code"></td>
                                <td data-bind="text:Name"></td>
                                <td data-bind="text:EmploymentStatusName"></td>
                                <td data-bind="text:Description"></td>
                                <td class="text-center">
                                    <input type="checkbox" disabled data-bind="checked:IsContract">
                                </td>
                                <td>
                                    <button type="button" data-bind="click:$root.Select,actionVisibility:'7119'" class="btn btn-xs btn-default action" title=@T("Edit")><span class="glyphicon glyphicon-pencil text-green "></span> </button>
                                    <button type="button" data-bind="click:$root.Delete,actionVisibility:'7120'" class="btn btn-xs btn-default action" title=@T("Remove")><span class="glyphicon glyphicon-trash text-red"></span></button>
                                    <button type="button" data-bind="click:$root.LeaveQuata,actionVisibility:'7120'" class="btn btn-xs btn-default action" title=@T("Leave Quata")><span class="glyphicon glyphicon-file text-blue"></span></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot data-bind="">
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="mode-button-add-template">
        <span class="glyphicon glyphicon-plus"></span>
    </script>
    <script type="text/html" id="mode-button-update-template">
        <span class="glyphicon glyphicon-arrow-up"></span>
    </script>
    <!-- /.row -->
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row -->
</section>

@if (Request.IsAjaxRequest())
{
    <script src="~/Areas/HRM/Scripts/Riddha.Script.HRM.Model.js"></script>
    <script src="~/Areas/HRM/Scripts/Riddha.Script.HRM.Controller.js"></script>
    <script type="text/javascript">
        var obj = {};
        Riddha.global.permission.action('7004').done(function (data) {
            Riddha.global.permission.actions = data.Data;
            ko.cleanNode(document.getElementById("partial-render"));
            obj = new employmentStatusController();
            ko.applyBindings(obj, document.getElementById("partial-render"));
        });
    </script>
}
else
{
    @section scripts
    {
        <script src="~/Areas/HRM/Scripts/Riddha.Script.HRM.Model.js"></script>
        <script src="~/Areas/HRM/Scripts/Riddha.Script.HRM.Controller.js"></script>
        <script type="text/javascript">
            var obj = {};
            Riddha.global.permission.action('7004').done(function (data) {
                Riddha.global.permission.actions = data.Data;
                ko.cleanNode(document.getElementById("partial-render"));
                obj = new employmentStatusController();
                ko.applyBindings(obj, document.getElementById("partial-render"));
            });
        </script>
    }
}


